#body{ 
    width:100%;
    height: 100vh;
    background-color: lightyellow;
    display: flex; 
    flex-direction: column;
    align-items: center;

   
}

#body h2{
    padding: 10px;
    color: gray;
    height: fit-content;
    font-size: 30px;
}
#jokecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: relative;
}



#jokecontent {
    width: 100%;
    padding: 3%;
    border-radius: 1.5em;
    background-color: lightgoldenrodyellow;
    color: gray;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}

#jokecontent #fakediv{
    flex:0.5;
    
}

#jokecontent #joke {
    flex: 2.5;
}

#jokecontent #heart {
    flex: 0.5;
    width: 100px;
    height: 90px;
    
}
 #heart:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background: lightgray;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    transition: background-color 0.3s;
}

#jokecontent #heart:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background: lightgray;
    border-radius: 50px 50px 0 0;
    transform: rotate(45deg);
    transform-origin: 50% 25%;
    transition: background-color 0.3s;
}
    


#jokecontent #heart.clicked:before,
#jokecontent #heart.clicked:after {
    background-color: red;
}

.button {
    margin-top: 1.25em;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
  }
